// Global Stylesheet

// Color Palette
$primary-color: gold;
$secondary-color: purple;

// Typography
header h1 {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

header .char4 {
    background: red;
    color: white;
    padding: 1em;
}

// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}

.mejs__time {
    color: #4ca604;
    font-size: 20px;
}

.mejs__time-total {
    background: rgb(57, 155, 6);
}