// Main Stylesheet

// Color Palette
body {
    background: teal;
}

// Typography

// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}

.mejs__time {
    color: #4ca604;
    font-size: 20px;
}

.mejs__time-total {
    background: rgb(57, 155, 6);
}