/* Grand Central Station. TOC. Vertex. A Hub. */
/* line 2, /Users/pmanikoth/Desktop/movie-trailer/scss/_grid.scss */
.page {
  display: flex; }

/* line 6, /Users/pmanikoth/Desktop/movie-trailer/scss/_grid.scss */
header,
main,
aside,
article,
footer {
  flex: 1; }

/* Accessibility: hide screen reader texts (and prefer "top" for RTL languages).
Reference: http://blog.rrwd.nl/2015/04/04/the-screen-reader-text-class-why-and-how/ */
/* line 3, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__offscreen {
  clip: rect(1px, 1px, 1px, 1px);
  /* IE8-IE11 - no support for clip-path */
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

/* line 12, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__container {
  position: relative;
  background: #000;
  font-family: "Helvetica", Arial, serif;
  text-align: left;
  vertical-align: top;
  text-indent: 0;
  box-sizing: border-box; }

/* line 22, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__container * {
  box-sizing: border-box; }

/* Hide native play button from iOS to favor plugin button */
/* line 27, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__container video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

/* line 32, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__fill-container,
.mejs__fill-container .mejs__container {
  width: 100%;
  height: 100%; }

/* line 38, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__fill-container {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background: transparent; }

/* line 45, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__container:focus {
  outline: none; }

/* line 49, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.me-plugin {
  position: absolute; }

/* line 53, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__embed,
.mejs__embed body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden; }

/* line 63, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__fullscreen {
  overflow: hidden !important; }

/* line 67, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__container-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1000; }

/* line 77, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__container-fullscreen .mejs__mediaelement,
.mejs__container-fullscreen video {
  width: 100% !important;
  height: 100% !important; }

/* line 83, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__clear {
  clear: both; }

/* Start: LAYERS */
/* line 88, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__background {
  position: absolute;
  top: 0;
  left: 0; }

/* line 94, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__mediaelement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 102, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__poster {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

/* line 111, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
:root .mejs__poster-img {
  display: none; }

/* line 115, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__poster-img {
  border: 0;
  padding: 0; }

/* line 120, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__overlay {
  position: absolute;
  top: 0;
  left: 0; }

/* line 126, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__overlay-play {
  cursor: pointer; }

/* line 130, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  background: url("../img/controls.svg") no-repeat;
  background-position: 0 -39px;
  overflow: hidden; }

/* line 142, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__overlay:hover > .mejs__overlay-button {
  background-position: -80px -39px; }

/* line 146, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__overlay-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px; }

/* line 155, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__overlay-loading-bg-img {
  display: block;
  width: 80px;
  height: 80px;
  background: transparent url("../img/controls.svg") -160px -40px no-repeat;
  -webkit-animation: mejs-loading-spinner 1s linear infinite;
  -moz-animation: mejs-loading-spinner 1s linear infinite;
  animation: mejs-loading-spinner 1s linear infinite; }

@-moz-keyframes mejs-loading-spinner {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes mejs-loading-spinner {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes mejs-loading-spinner {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* End: LAYERS */
/* Start: CONTROL BAR */
/* line 187, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__controls {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%; }

/* line 198, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__controls:not([style*="display: none"]) {
  background: rgba(255, 0, 0, 0.7);
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.35)); }

/* line 203, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__button,
.mejs__time,
.mejs__time-rail {
  float: left;
  margin: 0;
  width: 32px;
  height: 40px;
  font-size: 10px;
  line-height: 10px; }

/* line 214, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__button > button {
  cursor: pointer;
  display: block;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  margin: 10px 6px;
  padding: 0;
  position: absolute;
  height: 20px;
  width: 20px;
  border: 0;
  background: transparent url("../img/controls.svg");
  overflow: hidden; }

/* :focus for accessibility */
/* line 231, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__button > button:focus {
  outline: dotted 1px #999; }

/* line 235, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__container-keyboard-inactive a,
.mejs__container-keyboard-inactive a:focus,
.mejs__container-keyboard-inactive button,
.mejs__container-keyboard-inactive button:focus,
.mejs__container-keyboard-inactive [role=slider],
.mejs__container-keyboard-inactive [role=slider]:focus {
  outline: 0; }

/* End: CONTROL BAR */
/* Start: Time (Current / Duration) */
/* line 247, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__time {
  color: #fff;
  display: block;
  height: 24px;
  width: auto;
  font-weight: bold;
  font-size: 11px;
  padding: 16px 6px 0 6px;
  overflow: hidden;
  text-align: center;
  box-sizing: content-box; }

/* End: Time (Current / Duration) */
/* Start: Play/Pause/Stop */
/* line 263, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__play > button {
  background-position: 0 0; }

/* line 267, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__pause > button {
  background-position: -20px 0; }

/* line 271, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__replay > button {
  background-position: -280px 0; }

/* End: Play/Pause/Stop */
/* Start: Progress Bar */
/* line 278, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__time-rail {
  direction: ltr;
  width: 200px;
  padding-top: 10px;
  height: 40px;
  position: relative;
  margin: 0 10px; }

/* line 287, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__time-total,
.mejs__time-buffering,
.mejs__time-loaded,
.mejs__time-current,
.mejs__time-handle,
.mejs__time-float,
.mejs__time-float-current,
.mejs__time-float-corner,
.mejs__time-marker {
  cursor: pointer;
  display: block;
  position: absolute;
  height: 10px;
  border-radius: 2px; }

/* line 303, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__time-total {
  margin: 5px 0 0 0;
  background: rgba(255, 255, 255, 0.3);
  width: 100%; }

/* line 309, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__time-buffering {
  width: 100%;
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 15px 15px;
  animation: buffering-stripes 2s linear infinite; }

@keyframes buffering-stripes {
  from {
    background-position: 0 0; }
  to {
    background-position: 30px 0; } }

/* line 325, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__time-loaded {
  background: rgba(255, 255, 255, 0.3);
  width: 0; }

/* line 330, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__time-current {
  background: rgba(255, 255, 255, 0.9);
  width: 0; }

/* line 335, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__time-handle {
  display: none;
  position: absolute;
  margin: 0;
  width: 10px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: solid 2px #333;
  top: -2px;
  text-align: center; }

/* line 348, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__time-float {
  position: absolute;
  display: none;
  background: #eee;
  width: 36px;
  height: 17px;
  border: solid 1px #333;
  top: -26px;
  margin-left: -18px;
  text-align: center;
  color: #111; }

/* line 361, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__time-float-current {
  margin: 2px;
  width: 30px;
  display: block;
  text-align: center;
  left: 0; }

/* line 369, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__time-float-corner {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  border: solid 5px #eee;
  border-color: #eee transparent transparent transparent;
  border-radius: 0;
  top: 15px;
  left: 13px; }

/* line 382, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__long-video .mejs__time-float {
  width: 48px; }

/* line 386, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__long-video .mejs__time-float-current {
  width: 44px; }

/* line 390, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__long-video .mejs__time-float-corner {
  left: 18px; }

/* line 394, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__broadcast {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 10px;
  top: 15px; }

/* End: Progress Bar */
/* Start: Fullscreen */
/* line 405, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__fullscreen-button > button {
  background-position: -80px 0; }

/* line 409, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__unfullscreen > button {
  background-position: -100px 0; }

/* End: Fullscreen */
/* Start: Mute/Volume */
/* line 416, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__mute > button {
  background-position: -60px 0; }

/* line 420, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__unmute > button {
  background-position: -40px 0; }

/* line 424, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__volume-button {
  position: relative; }

/* line 428, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__volume-button > .mejs__volume-slider {
  display: none;
  height: 115px;
  width: 25px;
  background: rgba(50, 50, 50, 0.7);
  border-radius: 0;
  top: -115px;
  left: 5px;
  z-index: 1;
  position: absolute;
  margin: 0; }

/* line 441, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__volume-button:hover {
  border-radius: 0 0 4px 4px; }

/* line 445, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__volume-total {
  position: absolute;
  left: 11px;
  top: 8px;
  width: 2px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0; }

/* line 455, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__volume-current {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  margin: 0; }

/* line 465, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__volume-handle {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 16px;
  height: 6px;
  margin: 0 0 -3px -7px;
  background: rgba(255, 255, 255, 0.9);
  cursor: ns-resize;
  border-radius: 1px; }

/* line 477, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__horizontal-volume-slider {
  height: 36px;
  width: 56px;
  position: relative;
  display: block;
  float: left;
  vertical-align: middle; }

/* line 486, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__horizontal-volume-total {
  position: absolute;
  left: 0;
  top: 16px;
  width: 50px;
  height: 8px;
  margin: 0;
  padding: 0;
  font-size: 1px;
  border-radius: 2px;
  background: rgba(50, 50, 50, 0.8); }

/* line 499, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__horizontal-volume-current {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.8); }

/* line 512, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__horizontal-volume-handle {
  display: none; }

/* End: Mute/Volume */
/* Start: Track (Captions and Chapters) */
/* line 519, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-button {
  position: relative; }

/* line 523, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-button > button {
  background-position: -140px 0; }

/* line 527, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-button > .mejs__captions-selector {
  visibility: hidden;
  position: absolute;
  bottom: 40px;
  right: -51px;
  width: 85px;
  background: rgba(50, 50, 50, 0.7);
  border: solid 1px transparent;
  padding: 0;
  overflow: hidden;
  border-radius: 0; }

/* line 540, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-button > .mejs__captions-selector {
  visibility: visible; }

/* line 544, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-selector-list {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none !important;
  overflow: hidden; }

/* line 552, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-selector-list-item {
  margin: 0 0 6px 0;
  padding: 0 10px;
  list-style-type: none !important;
  display: block;
  color: #fff;
  overflow: hidden;
  cursor: pointer; }

/* line 562, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-selector-list-item:hover {
  background-color: #c8c8c8 !important;
  background-color: rgba(255, 255, 255, 0.4) !important; }

/* line 567, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-selector-input {
  clear: both;
  float: left;
  margin: 3px 3px 0 5px;
  position: absolute;
  left: -1000px; }

/* line 575, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-selector-label {
  width: 55px;
  float: left;
  padding: 4px 0 0 0;
  line-height: 15px;
  font-size: 10px;
  cursor: pointer; }

/* line 584, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-selected {
  color: #21f8f8; }

/* line 588, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-translations {
  font-size: 10px;
  margin: 0 0 5px 0; }

/* line 593, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__chapters {
  position: absolute;
  top: 0;
  left: 0;
  border-right: solid 1px #fff;
  width: 10000px;
  z-index: 1; }

/* line 602, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__chapter {
  position: absolute;
  float: left;
  background: rgba(0, 0, 0, 0.7);
  background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
  overflow: hidden;
  border: 0; }

/* line 611, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__chapter-block {
  font-size: 11px;
  color: #fff;
  padding: 5px;
  display: block;
  border-right: solid 1px #333;
  border-bottom: solid 1px #333;
  cursor: pointer; }

/* line 621, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__chapter-block-last {
  border-right: none; }

/* line 625, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__chapter-block:hover {
  background: rgba(102, 102, 102, 0.7);
  background: linear-gradient(rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6)); }

/* line 630, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__chapter-block .ch-title {
  font-size: 12px;
  font-weight: bold;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0 3px 0;
  line-height: 12px; }

/* line 640, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__chapter-block .ch-timespan {
  font-size: 12px;
  line-height: 12px;
  margin: 3px 0 4px 0;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis; }

/* line 649, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  color: #fff; }

/* line 659, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-layer a {
  color: #fff;
  text-decoration: underline; }

/* line 664, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-layer[lang=ar] {
  font-size: 20px;
  font-weight: normal; }

/* line 669, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-position {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 0; }

/* line 676, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-position-hover {
  bottom: 35px; }

/* line 680, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.mejs__captions-text, .mejs__captions-text * {
  padding: 0;
  background: rgba(20, 20, 20, 0.5);
  white-space: pre-wrap;
  box-shadow: 5px 0 0 rgba(20, 20, 20, 0.5), -5px 0 0 rgba(20, 20, 20, 0.5); }

/* End: Track (Captions and Chapters) */
/* Start: Error */
/* line 690, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.me-cannotplay a {
  color: #fff;
  font-weight: bold; }

/* line 695, /Users/pmanikoth/Desktop/movie-trailer/scss/_player.scss */
.me-cannotplay span {
  padding: 15px;
  display: block; }

/* End: Error */
/* line 10, /Users/pmanikoth/Desktop/movie-trailer/scss/_global.scss */
video {
  max-width: 100%;
  width: 100%; }

/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) {
  /* line 5, /Users/pmanikoth/Desktop/movie-trailer/scss/_media-queries.scss */
  .page {
    display: block; }
  /* Diagnostic Styling. Delete When Done. */
  /* line 10, /Users/pmanikoth/Desktop/movie-trailer/scss/_media-queries.scss */
  body:before {
    background: yellow;
    content: "Mobile Size"; } }

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em) {
  /* line 22, /Users/pmanikoth/Desktop/movie-trailer/scss/_media-queries.scss */
  main {
    padding: 2em;
    display: flex;
    justify-content: space-between; }
  /* line 28, /Users/pmanikoth/Desktop/movie-trailer/scss/_media-queries.scss */
  main article,
  main aside {
    width: 50%; }
  /* Diagnostic Styling. Delete When Done. */
  /* line 34, /Users/pmanikoth/Desktop/movie-trailer/scss/_media-queries.scss */
  body:before {
    background: yellow;
    content: "Tablet Size"; } }

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) {
  /* Diagnostic Styling. Delete When Done. */
  /* line 46, /Users/pmanikoth/Desktop/movie-trailer/scss/_media-queries.scss */
  body:before {
    background: yellow;
    content: "Desktop Size"; } }

/*# sourceMappingURL=styles.css.map */